<html lang="ko" class="back" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{includes/head :: head}">

<body>
  <div style="display:none;">
  <div id="loadingBarDiv" style="display:none;">
  </div>
  </div>


<div class="hsome_allContents_wrapper">

<div class="hsome_allContents">

<script>
function goSearchPage() {
    $("#searchForm").addClass("visible active activated");
  }
</script>


  <header class="hsome_header">
    <h1 class="h_ttl ellipsis" id="headerTitle">
        회원 탈퇴 완료</h1>
    <a href="/main" class="h_top_home"><span>홈</span></a>
      
      <a href="javascript:noLink();" onclick="goBack();" class="h_prev">이전 페이지로 가기</a>
    <ul class="h_gnbMenu">
        <li class="search">
              <a onclick="goSearchPage();"><span>search</span></a>
            </li>
<li class="cart">
              <a
                href="/cart"
                ><span>cart</span></a
              >
            </li>
      </ul></header>


<div class="hsome_contents mbr_signup_wrap">
  <div class="txt_wrap new_cmt">
    <h5>그동안 한섬을 이용해 주셔서 감사합니다.</h5>
  </div>
<div class="mem_ct_wrap">
  
  <div class="btn_wrap">
    <form th:action="@{/logout}" method="post">
    	<button class="btn btn_bg_b btn_login" id="mainBtn">메인으로 이동</button>
    </form>
  </div>
  <div th:replace="~{product/search :: searchForm}"></div>
</div>
</div>

</div>

</div>


<script type="text/javascript" src="/_ui/handsomemobile/js/clipboard.min.js"></script> 

</body>
</html>