<html lang="ko" class="back" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{includes/head :: head}">
    
<body> 
  
  <!-- ################## hsome_allContents_wrapper | ë³¸ë¬¸ ì»¨íì¸  ìì­ ################## -->
<div class="hsome_allContents_wrapper" style="padding-bottom: 0px;">

<div class="hsome_allContents">
<script type="text/javascript">
  function goMainpage() {
    window.sessionStorage.removeItem('moveYn');
  location.href = "/main";
}
  
  function goSearchPage() {
      $("#searchForm").addClass("visible active activated");
    }
</script>

  <!-- ################## header ################## -->
  <header class="hsome_header">
    <h1 class="h_ttl ellipsis" id="headerTitle">
        비밀번호 찾기</h1>
    <a href="/main" class="h_top_home"><span>홈</span></a>
      
      <a href="javascript:noLink();" onclick="goBack();" class="h_prev">이전 페이지로 가기</a>
    <ul class="h_gnbMenu">
      <li class="search">
              <a onclick="goSearchPage();"><span>search</span></a>
            </li>
<li class="cart">
              <a
                href="/cart"
                ><span>cart</span></a
              >
            </li></ul></header>

  <!-- //################## header ################## -->
<script type="text/javascript">
$(document).ready(function(){
  var nowYear = parseInt('2009');
  var nowMonth = parseInt('01');
  var nowDay = parseInt('31');
  var monthArray = [0, 31, 28, 31, 30, 31, 30, 31, 31 ,30, 31, 30, 31];
 //if(nowYear < 2000) nowYear += 1900;
 
 //년도 
 for(var i=nowYear; i>=1900; i--) {
     $('#selYear').append("<option value='" + i + "'>" + i + "</option>");
 }
 $("#selYear").change(function(){

   var selYear1 = $('#selYear').val();
   
  if($('#selMonth').val() == 02){
    
    if($("#selDay option:last").val() >= 29){

       $("#selDay option[value='29']").remove();
       $("#selDay option[value='30']").remove();
       $("#selDay option[value='31']").remove();
     }
     
    if((selYear1%4 == 0 && selYear1%100 !=0) || selYear1%400 == 0 ){
      
       $("#selDay").append("<option value='29'>29</option>");
     }
   }
  
  
  //만14세미만 가입X
  if(nowYear == selYear1){
    for(var i = nowMonth+1;i <= 12; i++){
      if(i<10){$("#selMonth option[value='0"+i+"']").remove();}
      else{$("#selMonth option[value='"+i+"']").remove();}
      if($("#selMonth").val() > nowMonth)$("#selMonth").val('').prop("selected", true);
    }
    
    if(nowMonth == parseInt($('#selMonth').val())){
      
      var n_selMonth = parseInt($('#selMonth').val());
      var maxDay = monthArray[n_selMonth];

      for(var i = nowDay+1;i <= maxDay;i++){
        if(i<10){$("#selDay option[value='0"+i+"']").remove();}
        else{$("#selDay option[value='"+i+"']").remove();}
        if($("#selDay").val() > nowDay){$("#selDay").val('').prop("selected", true);}
      }
    }
  }else{
    var n_selMonth = parseInt($('#selMonth').val());
    var maxDay = monthArray[n_selMonth];
    
    if($("#selMonth option:last").val() < 12){
      for(var i = nowMonth+1;i <= 12; i++){
        if(i<10){$("#selMonth").append("<option value='0"+i+"'>0"+i+"</option>");}
        else{$("#selMonth").append("<option value='"+i+"'>"+i+"</option>");}
      }
    }
    if($("#selDay option:last").val() < maxDay){
      if($('#selMonth').val() == 02){
        if((selYear1%4 == 0 && selYear1%100 !=0) || selYear1%400 == 0 ){maxDay=29;}
      }
      for(var i = parseInt($("#selDay option:last").val())+1;i <= maxDay;i++){
        if(i<10){$("#selDay").append("<option value='0"+i+"'>0"+i+"</option>");}
        else{$("#selDay").append("<option value='"+i+"'>"+i+"</option>");}
      }
    }
    
  }
 });
 
 $("#selMonth").change(function(){
   var lastDay = $("#selDay option:last").val();
   var selYear1 = $('#selYear').val();
   var n_selMonth = parseInt($('#selMonth').val());
  var maxDay = monthArray[n_selMonth];
   
   if($(this).val() == 02){
     
     
     $("#selDay option[value='31']").remove();
    $("#selDay option[value='30']").remove();
    $("#selDay option[value='29']").remove();
     
     if((selYear1%4 == 0 && selYear1%100 !=0) || selYear1%400 == 0){
       $("#selDay").append("<option value='29'>29</option>");
         
     };

     
   }else if($(this).val() == 04 || $(this).val() == 06 || $(this).val() == 09 || $(this).val() == 11){
     
     
       if(lastDay == 28){
        $("#selDay").append("<option value='29'>29</option>");
        $("#selDay").append("<option value='30'>30</option>");
       }else if(lastDay == 29){
        $("#selDay").append("<option value='30'>30</option>");
       }else if(lastDay == 31){
        $("#selDay option[value='31']").remove();
       }
     
       
   }else{
     
     if(lastDay == 28){
       $("#selDay").append("<option value='29'>29</option>");
       $("#selDay").append("<option value='30'>30</option>");
       $("#selDay").append("<option value='31'>31</option>");
     }else if(lastDay == 29){
       $("#selDay").append("<option value='30'>30</option>");
       $("#selDay").append("<option value='31'>31</option>");
     }else if(lastDay == 30){
      $("#selDay").append("<option value='31'>31</option>");
     }
   }
   
   
   //만14세미만 가입X
  if(nowYear == selYear1 && nowMonth == $('#selMonth').val()){
    
      for(var i = nowDay + 1;i <= $("#selDay option:last").val();i++){
        if(i<10){$("#selDay option[value='0"+i+"']").remove();}
        else{$("#selDay option[value='"+i+"']").remove();}
        if($("#selDay option:last").val() < $("#selDay").val())$("#selDay").val('').prop("selected", true);
      }
  }else{
    
    if($("#selDay option:last").val() < maxDay){
      for(var i = parseInt($("#selDay option:last").val()) + 1;i <= maxDay;i++){
        if(i<10){$("#selDay").append("<option value='0"+i+"'>0"+i+"</option>");}
        else{$("#selDay").append("<option value='"+i+"'>"+i+"</option>");}
      }
    }
  }
 });
  
 
 $("#pw").keypress(function(event){
  if(capsLock(event)){
    $("#pwMsg").text("<Caps Lock>이 켜져 있습니다.");
    event.preventDefault();
    return false;
  }
  $("#pwMsg").text("");
 });
 
 $("#pw").change(function(){
  if($(this).val().length > 0){ 
    var pwRegExp = /^(?=.*[a-zA-Z])(?=.*[\?\<\>\;\:\'\"\`\(\)\{\}\[\]\|\\\~\,\.!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;
    if(!pwRegExp.test($(this).val())){	
      $("#pwMsg").text("비밀번호는 8~15자리 이하로 영문/숫자/특수문자를 혼합해주세요");
      $("#pwTypeChk").val("");
      return true;
    }
    $("#pwTypeChk").val("Y");	
    $("#pwMsg").text("");
    $("#pwcMsg").text("");
    $("#pwConfirmChk").val("");
  }
 });
 
 $("#pwc").keypress(function(event){
  if(capsLock(event)){
    $("#pwcMsg").text("<Caps Lock>이 켜져 있습니다.");
    return false;
  }
  $("#pwcMsg").text("");
 });
 
 $("#pwc").change(function(){
  if($("#pw").val()!=$("#pwc").val()){
    $("#pwcMsg").text("비밀번호가 일치하지 않습니다");
    $("#pwConfirmChk").val("");
    return true;
  }
  $("#pwConfirmChk").val("Y");
  $("#pwcMsg").text("비밀번호가 확인되었습니다.");
 });


$('#chk_email').click(function(){
  if($(this).is(':checked')){
      var email = "setongsetong@hanmail.net";
      $('#emailAddress').val(email);
      chkEmail();
  }
});	

// 20201120 이메일 필수입력 항목 X
$('#emailAddress').keyup(function(){
  var chkVal = $('#emailAddress').val();
  if(chkVal != ""){
    var email1 = "setongsetong@hanmail.net";
    var email2= $('#emailAddress').val();
    
    if(email1 != email2){
      $("#chk_email").prop('checked', false);
      $("#chk_email").attr('checked', false);
    }
    chkEmail();
  }
});

chkEmail = function() {
  var vc = new ValidationCheck();
  vc.checkIdList = ['emailAddress'];
  vc.msgFn = function(msg){
    $("#emailMsg").text(msg);
  };
  if(vc.isValid()){
    
  }		
};



$("#cancleBtn").click(function(){
  var lc = new layerConfirm('회원가입을 취소하시겠습니까?', '확인', '취소');
  lc.confirmAction = function(){
    location.href="/";
  };
});

/*@@@ 이거 수정 */
$("#joinBtn").click(function(){
      var pwTypeChk = $("#pwTypeChk").val();
      var pwConfirmChk = $("#pwConfirmChk").val();
      var emailDuplChk = $("#emailDuplChk").val();

      if ($.trim($("#pw").val()) == "") {
        $("#pwMsg").text("비밀번호를 입력하세요.");
        $("#pw").focus();
        return;
      }
      
      if ( pwTypeChk !== "Y") {
          $("#pwMsg").text("비밀번호는 8~15자리 이하로 영문/숫자/특수문자를 혼합해주세요 ");
          $("#pw").focus();
          return;
      }
      
      $("#pwMsg").text("");
      
      if ($.trim($("#pwc").val()) == "") {
        $("#pwcMsg").text("비밀번호 확인을 입력하세요.");
        $("#pwc").focus();
        return;
      }
      
      if ( pwConfirmChk !== "Y") {
          $("#pwcMsg").text("입력한 비밀번호가 일치하지 않습니다.");
          $("#pwc").focus();
          return;
      }

      $("#pwcMsg").text("");
      
      
      if($("#emailAddress").val()!=""){
      
          if ( emailDuplChk !== "Y") {
              $("#emailMsg").text("E-mail 중복확인이 되지 않았습니다.");
              $("#emailAddress").focus();
              return;
          }  
          
          var email = $("#emailAddress").val();
          if (!validateEmail(email)) {
              $("#emailMsg").text("잘못된 E-mail 형식입니다.");
              $("#emailAddress").focus();
              return;
          } 
          
      }else{
          if($("#chk_agree").is(':checked')){
              $("#emailMsg").text("이메일(정보수신용) 을 입력해 주세요.");
              $("#emailAddress").focus();
              return;
          }
      }

      $("#emailMsg").text("");

      if ($.trim($("#name").val()) == "") {
        $("#nameMsg").text("이름을 입력하세요.");
        $("#name").focus();
        return;
      }        
      
      $("#nameMsg").text("");
      
      if ( ($.trim($("#selYear").val()) == "") || ($.trim($("#selMonth").val()) == "") || ($.trim($("#selDay").val()) == "") ) {
        $("#bdayMsg").text("생년월일을 입력하세요.");
        return;
      }
      
      $("#bdayMsg").text("");
      
    
    $("#cancleBtn").attr("disabled", true);
      $("#joinBtn").attr("disabled", true);

      $("#collectionAgreementYN").val("Y");
      
      $("#sBirthday").val($("#selYear").val() + $("#selMonth").val() + $("#selDay").val());
      $("#memberJoinForm").attr("action", "/ko/member/joincomplete");
 
      showLoadingLp(); //로딩레이어 호출
      
  $("#memberJoinForm").submit();            
});

});

</script>

<!-- contents s -->
<div class="hsome_contents mbr_signup_wrap signup_wrap">
  <div class="mem_ct_wrap_bg">
    <h5 class="no_margin">아이디와 핸드폰 번호를 입력해주세요.</h5>
  </div>
  <div class="mem_ct_wrap" style="padding-top: 0px;">		
    <form id="memberJoinForm" action="/register" method="POST">
      <div class="chk_agree_wrap">
       <div class="req_txt" style="padding-top: 15px;padding-bottom: 5px;"><i class="txt_point">*</i>표시는 필수항목입니다.</div>
       <div class="input_group" style="margin-top: 0px;padding-bottom: 6px;">
       		<h5 class="pd_title" style="padding-top: 5px;">아이디(이메일)<i class="txt_point">*</i></h5>
       <div class="input_user_bday">
            <div class="bday_year">
              	<input type="text" id="mEmail" name="mEmail" class="user_email" placeholder="이메일을 입력하세요." title="이메일을 입력하세요." maxlength="30" style="width: 150;">
            </div>
            
            <div style="text-align:center;line-height: 3; padding-left: 20px;">@</div>
            <div class="bday_day">
              <div class="select_box">
                <select id="mSite" name="mSite" style="padding-right: 0px;width: 114px;padding-left: 7px;">
                                <option value="">-선택-</option>
							    <option value="naver.com">naver.com</option>
							    <option value="gmail.com">gmail.com</option>
							    <option value="hanmail.net">hanmail.net</option>
							    <option value="hotmail.com">hotmail.com</option>
							    <option value="korea.com">korea.com</option>
							    <option value="nate.com">nate.com</option>
							    <option value="yahoo.com">yahoo.com</option>
                </select>
              </div>
            </div>
          </div>
          <div class="err_wrap">
		          <p class="err_txt" id="checkId"></p>
		    </div>
          		
            		<div class="err_wrap">
		            	<p class="err_txt" id="nameMsg"></p>
		          	</div>
            		
            		
            	<div style="padding-bottom: 0px;height: 20px;"><h5 class="w_helper" style="margin-top: 15px;">핸드폰번호<i class="txt_point">*</i></h5></div>
            		<div class="input_user_bday">
            <div class="bday_year">
              	<input type="number" id="mPhone" name="mPhone" class="user_mPhone" placeholder="핸드폰번호를 입력하세요." title="핸드폰번호를 입력하세요." maxlength="11" style="width: 346;">
            </div>
          </div>
          <div class="err_wrap"><p class="err_txt" id="msgErr"></p></div>
          <div class="err_wrap"><p class="err_txt" id="nameMsg"></p></div>
          
          <div class="err_wrap">
            <p class="err_txt" id="bdayMsg"></p>
          </div>
        </div>
      </div>
    <div>
</div>
</form>
    <div class="btn_wrap btn_wrap_div2">
      <button class="btnstl3 border_btn_gray btn_cnl" id="cancleBtn">취소</button>
      <button class="btnstl3 solid_btn_blk btn_agree" id="registerBtn">계속</button>
    </div>
  </div>
</div>
<div th:replace="~{product/search :: searchForm}"></div>

</div>

</div>

<form th:action="@{/resetpassword}" method="post" id="userIdHiddenForm">
	<input type="hidden" id="userIdHidden" name="userId">

</form>


<!--@@@수정 제이쿼리 -->
<script type="text/javascript">
$("#registerBtn").click(function(){
	
	if ($.trim($("#mEmail").val()) == ""||$("#mSite").val()=="") {
        $('#msgErr').show();
        $("#msgErr").text("이메일을 입력하세요.");
        $("#mEmail").focus();
        return;
      }
	
	
	if ($.trim($("#mPhone").val()) == "") {
        $('#msgErr').show();
        $("#msgErr").text("핸드폰번호를 입력하세요.");
        $("#mPhone").focus();
        return;
      }
	
	if ($.trim($("#mPhone").val()).length != 11) {
        $('#msgErr').show();
        $("#msgErr").text("핸드폰번호를 올바르게 입력하세요.");
        $("#mPhone").focus();
        return;
    }
	
    
	var pwd = $.trim($("#j_password").val());
	
	var email = $("#mEmail").val();
	var site = $("#mSite").val();
	
	var userId = email+'@'+site;
	var mphone = $("#mPhone").val();
	
	
	var csrfHeadName=$("meta[name='_csrf_header']").attr("content");
    var csrfTokenValue=$("meta[name='_csrf']").attr("content");
    
	let searchOBJ = {
			"userId" : userId,
			"mphone" : mphone
	};
	
	$.ajax({
	    type:"post",
	    url:"/checkid",
	    data:JSON.stringify(searchOBJ),
	    contentType : "application/json; charset=utf-8",
	    dataType : "json",
	    beforeSend : function(xhr) {
            xhr.setRequestHeader(csrfHeadName, csrfTokenValue);
      	},
	    success:function(result){
	      if(result==1){
	    	$("#userIdHidden").val(userId);
	    	$("#userIdHiddenForm").submit();
	      }else{
	            $('#msgErr').show();
	            $('#findPW').show();
	            $("#msgErr").text("해당 정보에 맞는 계정이 없습니다.");			
	      }
	    },
	    error:function(e){
	    	alert("ajax 실패")
			console.log("ajax 실패");
	    }
	  });
	

});


$("#mEmail").keyup(function(){
	//alert("checkFinal");
	
	if (!(event.keyCode >=37 && event.keyCode<=40)) {
        var inputVal = $(this).val();
        $(this).val(inputVal.replace(/[^a-zA-Z0-9]/gi, ''));
	}
	
});

</script>

</body>
</html>