<html lang="ko" class="back" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{includes/head :: head}">

<body> 


<!-- ################## hsome_allContents_wrapper | ë³¸ë¬¸ ì»¨íì¸  ìì­ ################## -->
<div class="hsome_allContents_wrapper" style="padding-bottom: 0px;">

<div class="hsome_allContents">
<script type="text/javascript">
function goMainpage() {
  window.sessionStorage.removeItem('moveYn');
location.href = "/main";
}

function goSearchPage() {
    $("#searchForm").addClass("visible active activated");
  }
</script>

<!-- ################## header ################## -->
<header class="hsome_header">
  <h1 class="h_ttl ellipsis" id="headerTitle">
      비밀번호 재설정</h1>
  <a href="/ko/main" class="h_top_home"><span>홈</span></a>
    
    <a href="javascript:noLink();" onclick="goBack();" class="h_prev">이전 페이지로 가기</a>
  <ul class="h_gnbMenu">
  <li class="search">
              <a onclick="goSearchPage();"><span>search</span></a>
            </li>
<li class="cart">
              <a
                href="/cart"
                ><span>cart</span></a
              >
            </li>
    </ul></header>

<!-- //################## header ################## -->
<script type="text/javascript">
$(document).ready(function(){
	
$("#pw").keypress(function(event){
if(capsLock(event)){
  $("#pwMsg").text("<Caps Lock>이 켜져 있습니다.");
  event.preventDefault();
  return false;
}


$("#pwMsg").text("");
});

var check=0;
var checkFirst=0;

$("#pw").blur(function(){
	if($(this).val().length > 0){ 
	  var pwRegExp = /^(?=.*[a-zA-Z])(?=.*[\?\<\>\;\:\'\"\`\(\)\{\}\[\]\|\\\~\,\.!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;
	  if(!pwRegExp.test($(this).val())){	
	    $("#pwMsg").text("비밀번호는 8~15자리 이하로 영문/숫자/특수문자를 혼합해주세요");
	    $("#pwcMsg").text("");
	    checkFirst=0;
	    return true;
	  }
	  
	  var checkFirst=1;
	  $("#pwTypeChk").val("Y");	
	  $("#pwMsg").text("");
	  $("#pwcMsg").text("");
	  $("#pwConfirmChk").val("");
	}
});


$("#pwc").keypress(function(event){
	if(capsLock(event)){
	  $("#pwcMsg").text("<Caps Lock>이 켜져 있습니다.");
	  return false;
	}
	
$("#pwcMsg").text("");
});
	

$("#pwc").blur(function(){
	if($("#pw").val()!=$("#pwc").val()){
	  check=1;
	}
	
	if(check==0){
		$("#pwMsg").text("비밀번호가 확인되었습니다.");
		check=0;
	}else if(check==1){
		 $("#pwMsg").text("비밀번호가 일치하지 않습니다");
		 //$("#pwMsg").text("");
		 check=0;
		 return true;
	}


});


$('#chk_email').click(function(){
if($(this).is(':checked')){
    var email = "setongsetong@hanmail.net";
    $('#emailAddress').val(email);
    chkEmail();
}
});	

// 20201120 이메일 필수입력 항목 X
$('#emailAddress').keyup(function(){
var chkVal = $('#emailAddress').val();
if(chkVal != ""){
  var email1 = "setongsetong@hanmail.net";
  var email2= $('#emailAddress').val();
  
  if(email1 != email2){
    $("#chk_email").prop('checked', false);
    $("#chk_email").attr('checked', false);
  }
  chkEmail();
}
});

chkEmail = function() {
var vc = new ValidationCheck();
vc.checkIdList = ['emailAddress'];
vc.msgFn = function(msg){
  $("#emailMsg").text(msg);
};
if(vc.isValid()){
  
}		
};

/*@@@ 이거 수정 */
$("#joinBtn").click(function(){
    var pwTypeChk = $("#pwTypeChk").val();
    var pwConfirmChk = $("#pwConfirmChk").val();
    var emailDuplChk = $("#emailDuplChk").val();

    if ($.trim($("#pw").val()) == "") {
      $("#pwMsg").text("비밀번호를 입력하세요.");
      $("#pw").focus();
      return;
    }
    
    if ( pwTypeChk !== "Y") {
        $("#pwMsg").text("비밀번호는 8~15자리 이하로 영문/숫자/특수문자를 혼합해주세요 ");
        $("#pw").focus();
        return;
    }
    
    $("#pwMsg").text("");
    
    if ($.trim($("#pwc").val()) == "") {
      $("#pwcMsg").text("비밀번호 확인을 입력하세요.");
      $("#pwc").focus();
      return;
    }
    
    if ( pwConfirmChk !== "Y") {
        $("#pwcMsg").text("입력한 비밀번호가 일치하지 않습니다.");
        $("#pwc").focus();
        return;
    }
 
  $("#pwcMsg").text("");
  
  $("#cancleBtn").attr("disabled", true);
    $("#joinBtn").attr("disabled", true);

    $("#collectionAgreementYN").val("Y");
    
    $("#sBirthday").val($("#selYear").val() + $("#selMonth").val() + $("#selDay").val());
    $("#memberJoinForm").attr("action", "/ko/member/joincomplete");

    showLoadingLp(); //로딩레이어 호출
    
$("#memberJoinForm").submit();            
});

});

</script>



<!-- contents s -->
<div class="hsome_contents mbr_signup_wrap signup_wrap">
<div class="mem_ct_wrap_bg">
  <h5 class="no_margin">개인정보를 소중히 다뤄주세요!</h5>
</div>
<div class="mem_ct_wrap" style="padding-top: 0px;padding-bottom: 0px;">		
  <form id="memberJoinForm" th:action="@{/reset}" method="POST">
    <div class="chk_agree_wrap">
     <div class="input_group" style="margin-top: 0px;">
      <div style="padding-bottom: 0px;height: 20px;"><h5 class="w_helper" style="margin-top: 15px;">아이디<i class="txt_point">*</i></h5></div>
              <div class="">
                    <input type="text" name="userId" maxlength="100" th:value="${userId}" readonly>
              </div>
              <div style="padding-bottom: 0px;height: 20px;"><h5 class="w_helper">비밀번호<i class="txt_point">*</i></h5></div>
              <div class="input_user_pw">
                <input type="password" id="pw" name="pwd" class="user_pw" placeholder="비밀번호를 입력하세요." title="비밀번호를 입력하세요." maxlength="100">
              </div>
              <div class="input_user_pw">
                <input type="password" id="pwc" class="user_pw" placeholder="비밀번호를 한번 더 입력하세요." title="비밀번호를 한번 더 입력하세요." maxlength="100">
              </div>
              <div class="err_wrap">
                <p class="err_txt" id="pwMsg"><!-- 입력한 비밀번호정규 표현식 일치하지 않습니다. --></p>
                <p class="err_txt" id="pwcMsg"><!-- 입력한 비밀번호정규 표현식 일치하지 않습니다. --></p>
              </div>
      </div>
      </div>
    </form>
    </div>
<!-- [TO DEV] 20180625 버튼 클래스명 수정 s -->

  <div class="btn_wrap btn_wrap_div2">
    <button class="btnstl3 border_btn_gray btn_cnl" id="cancleBtn">메인으로</button>
    <button class="btnstl3 solid_btn_blk btn_agree" id="registerBtn">저장</button>
  </div>
  <div th:replace="~{product/search :: searchForm}"></div>
</div>
</div>

</div>

</div>

<!--@@@수정 제이쿼리 -->
<script type="text/javascript">

var pwdcheck=0;

$("#pwc").change(function(){
	  if($("#pw").val()!=$("#pwc").val()){
	    $("#pwMsg").text("비밀번호가 일치하지 않습니다");
	    $("#pwConfirmChk").val("");
	    pwdcheck=0;
	    return true;
	  }
	  pwdcheck=1;
	  
});

$("#registerBtn").click(function(){
	if($.trim($("#pw").val()) == ""){
		$('#pwMsg').show();
        $("#pwMsg").text("비밀번호를 입력하세요.");
        $("#pw").focus();
        return;
	}
	if($.trim($("#pwc").val()) == ""){
		$('#pwMsg').show();
        $("#pwMsg").text("비밀번호 확인을 입력하세요.");
        $("#pwc").focus();
        return;
	}
	
	if(pwdcheck==0){
		$('#pwMsg').show();
        $("#pwMsg").text("비밀번호를 올바르게 기입 해주십시오.");
        return;
	}

	var form = document.getElementById("memberJoinForm");
	form.submit();
});

$("#cancleBtn").click(function(){
	location.href = "/main";
});


</script>

</body></html>