@charset 'utf-8';
@mixin ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
@mixin line-clamp($l: 2){
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $l;
    -webkit-box-orient: vertical;
}
@mixin bdrs($z: 5px) {
	-webkit-border-radius: $z;
	-moz-border-radius: $z;
	border-radius: $z;
}
@mixin posa_tl($t: 0, $l:0) {
	position: absolute;
	top: $t;
	left: $l;
}
@mixin posa_tr($t: 0, $r:0) {
	position: absolute;
	top: $t;
	right: $r;
}
@mixin posa_bl($b: 0, $l:0) {
	position: absolute;
	bottom: $b;
	left: $l;
}
@mixin posa_br($b: 0, $r:0) {
	position: absolute;
	bottom: $b;
	right: $r;
}
@mixin posf($t: 0, $l:0) {
	position: fixed;
	top: $t;
	left: $l;
}
@mixin bg_spr_layout($l:0,$t:0) {
	background: url('../../images/common/layout.png') $l $t no-repeat;
	background-size: 250px auto;
}
@mixin clearfix() {
	display: block;
	clear: both;
	content: '';
}
@mixin clearfix-after() {
	&:after,
	&:before {
		content: ""; // 1
		display: table; // 2
	}

	&:after {
		clear: both;
	}
}
@mixin center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
@mixin bxzb {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin opa($non_ie:0, $ie:0) {
	opacity: $non_ie;
	filter: alpha(opacity=$ie);
}
@mixin ct {
	content: '';
	display: block;
}
@mixin trs($p:all, $t:0.5s) {
	-webkit-transition: $p ease-in-out $t;
	-moz-transition: $p ease-in-out $t;
	-ms-transition: $p ease-in-out $t;
	-o-transition: $p ease-in-out $t;
	transition: $p ease-in-out $t;
}
@mixin scale($ratio...) {
	-webkit-transform: scale($ratio);
	-ms-transform: scale($ratio); // IE9 only
	-o-transform: scale($ratio);
	transform: scale($ratio);
}
@mixin rotate($deg...) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}
@mixin phc($c:#000) {
	&:-ms-input-placeholder {
		color: $c;
	}

	&:-moz-placeholder {
		color: $c;
	}

	&::-webkit-input-placeholder {
		color: $c;
	}
}
@mixin full {
	 @media (max-width: #{$full}){
		@content;
	}
}
@mixin middle {
	 @media (min-width: 1470px){
		@content;
	}
}
@mixin narrow {
	 @media (min-width: #{$narrow}){
		@content;
	}
}
