@charset "utf-8";

//font
@import url('https://fonts.googleapis.com/css?family=Cantata+One');
$co: 'Cantata One', serif;
// $os: 'Open Sans', sans-serif;
// $l: 300;
// $r: 400;
// $s: 600;
// $b: 700;
// $e: 800;

//color
$white: #fff;
$dark_black: #000;
$black: #111;
$light_black: #222;
$dark_gray: #666;
$gray: #888;
$light_gray: #aaa;
$orange : #e46764;
$camel: #e46764;

//media queries
// $full: 1920px;
// $middle: 1600px;
// $narrow: 1280px;
