@charset "UTF-8";
// ======================================================================== //
// version : common.css v1 */
// wirter : IDR Ryu */
// date : 20180525 */
// ======================================================================== //

// font==================================================================== //
$default_font: 'Apple SD Gothic Neo';
// $default_font: 'malgun gothic';
$second_font: 'Open Sans';
$l: 300;
$r: 400;
$s: 600;
$b: 700;
$e: 800; 
$default_fc:#222;
$gray_fc:#666;
$gray_fc2:#888;
$light_gray_fc:#aaa;
$lttr_spc:-0.05em;

//color
$white: #fff;
$black: #222;
$light_gray: #999;
$white_gray: #f1f1f1;
$white_gray2:#e1e1e1;
$camel: #c69c6d;
$gray: #666;
$red: #f00;
$point_clr:#e46764;
$border_clr:#f1f1f1;
$border_clr2:#ccc;
$border_clr3:#e5e5e5;
$border_clr4:#e1e1e1;

//btn
$hd_h:45px;
$df_h_s:35px;
$df_h_m:40px;
$df_h_l:50px;

//layout
$con_mg: 10px;
$con_pd: 15px;
$con_pd2: 20px;
$con_pd3: 25px;
$con_pd_s: 30px;
$con_pd_s2: 35px;
$con_pd_m: 40px;
$con_pd_m2: 45px;
$con_pd_l: 50px;

//media queries
$full: 1920px;
$middle: 1600px;
$narrow: 1280px;
$minw: 374px;

//url
$img_url:'../../images/';
$img_common_url:'common_sub/';
$img_order_url:'order/';
$img_pg_url:'pg/';
$img_cs_url:'cs/';
$img_mbr_url:'member/';
$img_mp_url:'mypage/';

//motion
$slide_time:300;

//card
$card-color: (
	'bc':#e83d44,
	'hana':#008598,
	'hyundai':#566582,
	'kb':#776c61,
	'lotte':#5c49d9,
	'nh':#37b978,
	'samsung':#188cd6,
	'shinhan':#91acc4,
	'woori':#20c4f4
);
$card-fontcolor: (
	'bc':#fff,
	'hana':#fff,
	'hyundai':#fff,
	'kb':#fff,
	'lotte':#fff,
	'nh':#fff,
	'samsung':#fff,
	'shinhan':#fff,
	'woori':#fff
);

//notification
$n-kind-name: (
	'athome',
	'coupon',
	'delivery',
	'event',
	'expire',
	'fitting',
	'gift',
	'member',
	'new',
	'order',
	'pickup',
	'plus',
	'qna',
	'repair',
	'repair_2',
	'return',
	'sale',
	'noitem'
);